<table border="1"
       cellpadding="10px"
       cellspacing="10px"
       align="center">
    <thead>
        <tr>
            <th>SNO</th>
            <th>NAME</th>
            <th>CAPITAL</th>
            <th>POPULATION</th>
            <th>NATIVE NAME</th>
            <th>FLAG</th>
            <th>CURRENCIES</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let obj of abc;let i=index">
            <td>{{i +1 }}</td>
            <td>{{ obj.name }}</td>
            <td>{{ obj.capital }}</td>
            <td>{{ obj.population }}</td>
            <td>{{ obj.nativeName }}</td>
            <td><img width="100px" height="50px" src={{obj.flag}}></td>
            <td *ngFor="let obj1 of obj.currencies">{{ obj1.symbol}}</td>
        </tr>
    </tbody>
</table>
